<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>    <!-- Bootstrap CSS CDN -->


    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
   
   
</head>
<body>
    <div class="wrapper">

        <nav id="sidebar">
            <div class="sidebar-header">
                <img src="~/Content/mlhuillierlogo.png" alt="mlhuillierlogo" width="210" height="75">
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Applications</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            @Html.ActionLink("ML Wallet Public", "Index", "Wallet")
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding:10px;">

                <button type="button" id="sidebarCollapse" class="btn btb-light">
                    <i class="fas fa-align-justify"></i>
                </button>

            </nav>
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/customScripts")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
   
</body>
</html>
